.cognate {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  &__wrapper {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  &__text {
    font-size: calc(25px + (75 - 25) * ((100vw - 300px) / (1600 - 300)));
    line-height: calc(1.75em + (2 - 1.5) * ((100vw - 300px) / (1600 - 300)));
    user-select: none;
  }
  &__words {
    cursor: pointer;
    position: relative;
    text-align: center;
    &::after {
      content: '';
      position: absolute;
      height: 2px;
      width: 100%;
      background-color: black;
      top: 50%;
      transform: translateY(50%);
      left: 0;
    }
  }
}

.next .slide-enter {
	transform: translateX(50vw) scale(0.25);
	opacity: 0;
}

.next .slide-enter-active {
	transform: translateX(0%) scale(1);
	opacity: 1;
	transition: all 400ms ease-in;
}

.next .slide-leave {
	transform: translateX(0%) scale(1);
	opacity: 1;
}

.next .slide-leave-active {
	transform: translateX(-50vw) scale(0.25);
	opacity: 0;
	transition: all 400ms ease-in;
}

.prev .slide-enter {
	transform: translateX(-50vw) scale(0.25);
	opacity: 0;
}

.prev .slide-enter-active {
	transform: translateX(0%) scale(1);
	opacity: 1;
	transition: all 400ms ease-in;
}

.prev .slide-leave {
	transform: translateX(0%) scale(1);
	opacity: 1;
}

.prev .slide-leave-active {
	transform: translateX(50vw) scale(0.25);
	opacity: 0;
	transition: all 400ms ease-in;
}
