.arrow {
  font-size: calc(20px + (75 - 20) * ((100vw - 300px) / (1600 - 300)));
  font-weight: 100;
  position: absolute;
  border: 2px solid black;
  border-radius: 50%;
  width: calc(20px + (75 - 20) * ((100vw - 300px) / (1600 - 300)));
  height: calc(20px + (75 - 20) * ((100vw - 300px) / (1600 - 300)));
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: black;
  top: 50%;
  transform: translateY(-50%);
  &--left {
    left: 10%;
    .arrow__char-wrapper {
      transform: translate(-10%, 3%);
    }
  }
  &--right {
    right: 10%;
    .arrow__char-wrapper {
      transform: translate(10%, 3%);
    }
  }
  &__char-wrapper {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
  }
}
