.share {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2.5vh 0;
    background-color: #fafafa;
    &__button {
        border: none;
        border-radius: 4px;
        cursor: pointer;
        margin: 6px;
        padding: 4px 12px;
        text-decoration: none;
        &--facebook {
            background-color: #3b5998;
            color: rgba(255,255,255,0.95);
            border: 1px solid darken(#3b5998, 2%);
            &:hover{
                background-color: lighten(#3b5998, 4%);
                border: 1px solid lighten(#3b5998, 6%);
            }
        }
        &--twitter {
            background-color: #1da1f2;
            color: rgba(255,255,255,0.95);
            border: 1px solid darken(#1da1f2, 2%);
            &:hover{
                background-color: lighten(#1da1f2, 4%);
                border: 1px solid lighten(#1da1f2, 6%);
            }
        }
    }
}