.description {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2.5vh 0;
    &__data {
        width: 50%;
        margin: 15px auto;
    }
    &__text {
        font-size: 18px;
        margin-bottom: 10px;
    }
}