.home {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: black;
    &__button {
        background-color: transparent;
        color: white;
        border: 1px solid white;
        border-radius: 4px;
        padding: 7.5px 15px;
        cursor: pointer;
        transition: all .3s ease-out;
        &:hover{
            border: 1px solid grey; 
            color: grey;
        }
    }
}